In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
#Read dataset
movies_with_customer_ratings_loaded = pd.read_csv('../dataset/prepared/movies_with_customer_ratings_and_all_features.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
#So we dont have to reload the dataset every time
movies_with_customer_ratings = movies_with_customer_ratings_loaded

In [65]:
movies_with_customer_ratings = movies_with_customer_ratings.drop(['Unnamed: 0'], axis=1)
movies_with_customer_ratings.head()

,CustomerID,Rating,MovieID,YearOfRelease,Title,Budget,Genre,Original_language,Runtime,year_of_rating,month_of_rating,day_of_rating
0,1488844,3,1,2003,Dinosaur Planet,0,NaN,NaN,0.0,2005,9,6
1,822109,5,1,2003,Dinosaur Planet,0,NaN,NaN,0.0,2005,5,13
2,885013,4,1,2003,Dinosaur Planet,0,NaN,NaN,0.0,2005,10,19
3,30878,4,1,2003,Dinosaur Planet,0,NaN,NaN,0.0,2005,12,26
4,823519,3,1,2003,Dinosaur Planet,0,NaN,NaN,0.0,2004,5,3

In [66]:
#How many unique customers do we have?
number_unique_customers = movies_with_customer_ratings[['CustomerID']].groupby('CustomerID').count()
print(number_unique_customers)

Empty DataFrame
Columns: []
Index: [6, 7, 10, 59, 79, 87, 97, 116, 131, 134, 169, 183, 188, 192, 195, 199, 201, 250, 265, 266, 268, 283, 291, 296, 298, 301, 302, 304, 305, 307, 333, 358, 383, 384, 424, 437, 462, 477, 478, 481, 485, 495, 508, 527, 536, 544, 561, 578, 592, 596, 602, 609, 614, 684, 695, 719, 735, 742, 744, 750, 756, 766, 769, 785, 788, 815, 834, 840, 857, 906, 911, 920, 933, 979, 981, 998, 1038, 1044, 1067, 1070, 1082, 1086, 1117, 1146, 1179, 1186, 1211, 1221, 1243, 1276, 1295, 1310, 1315, 1323, 1331, 1333, 1346, 1353, 1357, 1374, ...]

[194817 rows x 0 columns]

In [109]:
#Try for one customer
#Customer 30878
movies_30878 = movies_with_customer_ratings.loc[movies_with_customer_ratings['CustomerID'] == 30878]
movies_30878.head()

,CustomerID,Rating,MovieID,YearOfRelease,Title,Budget,Genre,Original_language,Runtime,year_of_rating,month_of_rating,day_of_rating
3,30878,4,1,2003,Dinosaur Planet,0,NaN,NaN,0.0,2005,12,26
2400,30878,1,5,2004,The Rise and Fall of ECW,0,NaN,NaN,0.0,2005,4,27
24589,30878,3,18,1994,Immortal Beloved,120,Drama,en,121.0,2004,10,19
43472,30878,3,28,2002,Lilo and Stitch,80000000,Animation,en,85.0,2004,8,8
79359,30878,4,30,2003,Something's Gotta Give,80000000,Drama,en,128.0,2004,6,10

In [110]:
movie_titles_30878 = movies_30878[['MovieID','Title']].drop_duplicates().reset_index().drop('index', axis=1)
movies_30878 = movies_30878.drop('Title', axis=1)
movie_titles_30878.head()

   MovieID                     Title
0        1           Dinosaur Planet
1        5  The Rise and Fall of ECW
2       18          Immortal Beloved
3       28           Lilo and Stitch
4       30    Something's Gotta Give

In [111]:
#Feature extraction
movies_30878 = movies_30878.drop(['Genre', 'Budget','Runtime','Original_language'], axis=1)
movies_30878.head()

,CustomerID,Rating,MovieID,YearOfRelease,year_of_rating,month_of_rating,day_of_rating
3,30878,4,1,2003,2005,12,26
2400,30878,1,5,2004,2005,4,27
24589,30878,3,18,1994,2004,10,19
43472,30878,3,28,2002,2004,8,8
79359,30878,4,30,2003,2004,6,10

In [116]:
#Looking at the features
sns.distplot(movies_30878[['Rating']])

TypeError: distplot() got an unexpected keyword argument 'x'

In [105]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

target = movies_30878['Rating'].tolist()
data = movies_30878.drop(['Rating'], axis=1)

data_train_set_30878, data_test_set_30878, target_train_set_30878, target_test_set_30878 = train_test_split(data, target, test_size=0.2, random_state=42)

In [106]:
from sklearn import svm
clf = svm.SVC()
clf.fit(data_train_set_30878, target_train_set_30878)

/usr/local/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [107]:
target_predicted = clf.predict(data_test_set_30878)
accuracy_score(target_test_set_30878, target_predicted)

0.6071428571428571

No extra features = 0.67
Only genre as dummies = 0.57
Only budget as nummerical = 0.607
Only runtime as nummerical = 0.607
Only original_language as dummies = 0.607